<app-header />

<main>
    <ul id="botanica-details">
        @for (botanicaItem of botanicaItems; track botanicaItem.id) {
            <li>
                <app-botanica-item [botanicaItemObj]="botanicaItem" [selected]="botanicaItem.id === selectedBotanicaItemId" (select)="onSelectBotanicaItem($event)" />
            </li>

        }
    </ul>

    @if (selectedBotanicaItem) {
            <app-botanica-details [botanicaItemId]="selectedBotanicaItem.id" [name]="selectedBotanicaItem.name" [profile]="selectedBotanicaItem.profile" />
    } @else {
        <p id="fallback">Select a flower to view!</p>
    }

</main>

